$md-w2cgreen: (
    50 : #f1f5ea,
    100 : #dce5ca,
    200 : #c5d4a7,
    300 : #aec284,
    400 : #9cb569,
    500 : #8ba84f,
    600 : #83a048,
    700 : #78973f,
    800 : #6e8d36,
    900 : #5b7d26,
    A100 : #e5ffbe,
    A200 : #d0ff8b,
    A400 : #bbff58,
    A700 : #b1ff3f,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #ffffff,
        900 : #ffffff,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);

$md-w2cgrey: (
    50 : #f5f5f5,
    100 : #e6e6e6,
    200 : #d6d6d6,
    300 : #c5c5c5,
    400 : #b8b8b8,
    500 : #acacac,
    600 : #a5a5a5,
    700 : #9b9b9b,
    800 : #929292,
    900 : #828282,
    A100 : #ffffff,
    A200 : #e7e7e7,
    A400 : #ababab,
    A700 : #838383,
    contrast: (
        50 : #000000,
        100 : #000000,
        200 : #000000,
        300 : #000000,
        400 : #000000,
        500 : #000000,
        600 : #000000,
        700 : #000000,
        800 : #000000,
        900 : #000000,
        A100 : #000000,
        A200 : #000000,
        A400 : #000000,
        A700 : #000000,
    )
);